/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: #fbfbfb;
  color: #fbfbfb;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 1.25;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion common */

/* #region Header-Section */
.header-container {
  position: relative;
}

.heder-position {
  position: absolute;
  display: flex;
  top: 32px;
  left: 115px;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-name {
  margin-right: 366px;
  fill: #fbfbfb;
  display: flex;
  align-items: baseline;
}

.header-logo-icon {
  margin-right: 7px;
}

.menu {
  display: flex;
  text-transform: capitalize;
  gap: 8px;
}

.menu-item {
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
  background-color: transparent;
  transition: border 150ms ease-in-out 0ms, color 150ms ease-in-out 0ms,
    background-color 150ms ease-in-out 150ms;
}

.menu-item:hover {
  border: 1px solid #d4bfc4;
  color: #7a3145;
  background-color: #d4bfc4;
}

.menu-item:focus {
  border: 1px solid #fbfbfb;
  color: #7a3145;
  background-color: #fbfbfb;
}

.btn {
  display: block;
  border-radius: 30px;
  padding: 16px 32px;
  cursor: pointer;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  transition: color 150ms ease-in-out 0ms,
    background-color 150ms ease-in-out 150ms;
}

.btn:hover {
  color: #7a3145;
  background-color: #d4bfc4;
}

.btn:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

/* #endregion Header-Section */

/* #region Hero-Section */

.hero {
  background-color: #576f35;
  padding-top: 232px;
  padding-right: 100px;
  padding-left: 100px;
  background-image: url(../images/hero-vegetables.jpg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.hero-title {
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  text-transform: uppercase;
  color: #fbfbfb;
  padding-bottom: 128px;
  width: 502px;
}

.hero-description {
  font-weight: 500;
  max-width: 460px;
  padding-bottom: 52px;
}
/* #endregion Hero-Section */

/* #region Vegetable-bascet-section */
.bascet-container {
  background-color: #7a3145;
  display: flex;
  justify-content: center;
}

.vegetable-bascet-left {
  padding: 100px;
}

.vegetable-bascet-img {
  border-radius: 30px;
}

.steps-container {
  background: #576f35;
  padding: 100px;
}

.steps {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.basket,
.easy-steps {
  color: #d4bfc4;
}

.steps-description {
  font-weight: 500;
  padding-bottom: 104px;
}

.three-steps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.step {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 12px 25px 12px 24px;
}

.number {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: #fbfbfb;
  border: solid 5px #d4bfc4;
  border-radius: 100%;
  padding: 11px 18px;
  background-color: #7a3145;
  margin-right: 24px;
}

.step-text {
  font-weight: 500;
  font-size: 16px;
  color: #858585;
}

.text {
  font-weight: 700;
  color: #141414;
}

/* #endregion Vegetable-bascet-Section */

/* #region Discount-Section */
.discount-wraper {
  padding: 100px;
}

.discount-text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  text-transform: uppercase;
  color: #141414;
}

.discount-procent {
  border-radius: 12px;
  width: 808px;
  height: 84px;
  background-color: #576f35;
  color: #fbfbfb;
}
/* #endregion Discount-Section */

/* #region Organic-vegetables-Section */
.organic-wrapper {
  background-color: #7a3145;
  padding: 100px;
}

.organic-vegetables-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px;
  width: 508px;
}

.organic-vegetables-description {
  font-weight: 500;
  width: 626px;
  margin-bottom: 52px;
}

.vegetables {
  color: #d4bfc4;
}

.vegetables-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.vegetables-item {
  flex-direction: column;
  background-color: #fbfbfb;
  width: calc((100% - 2 * 24px) / 3);
  display: flex;
  border-radius: 40px;
  padding: 32px;
}

.vegetable-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}

.price {
  font-weight: 500;
  color: #141414;
  margin-bottom: 8px;
}
/* #endregion Organic-vegetables-Section */

/* #region Reviwers-Section */
.reviwer-wrapper {
  padding: 100px;
}

.our-customers {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  color: #141414;
  width: 553px;
  margin-bottom: 24px;
}

.costomers {
  color: #576f35;
}

.reviwers-description {
  font-weight: 500;
  color: #141414;
  width: 553px;
  margin-bottom: 52px;
}

.reviwer-list {
  display: flex;
  gap: 24px;
}

.step-text {
  font-weight: 500;
  font-size: 16px;
  color: #858585;
}

.text {
  font-weight: 700;
  color: #141414;
}

.reviwer-item {
  background-color: #fbfbfb;
  width: calc((100% - 2 * 24px) / 3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px;
}

.reviwer-img {
  margin-bottom: 24px;
}

.reviwer {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.reviwer-text {
  font-weight: 500;
  text-align: center;
  color: #858585;
  width: 280px;
}
/* #endregion Reviwers-Section */

/* #region Fresh-Harvest-Section */
.fresh-harvest-wrapper {
  background-color: #576f35;
  padding: 100px;
}

.fresh-harvest-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  width: 751px;
  margin-bottom: 24px;
}

.harvest {
  color: #d4bfc4;
}

.fresh-harvest-description {
  font-weight: 500;
  width: 742px;
  margin-bottom: 52px;
}

.form-img {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.form-fild {
  padding: 52px 48px;
  border-radius: 30px;
  background-color: #fbfbfb;
}

.form-description {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 52px;
}

.from-us {
  color: #7a3145;
}

.the-form {
  color: #576f35;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.name-email-wraper {
  margin-bottom: 16px;
}

.comment-wraper {
  margin-bottom: 24px;
}

.name-email-comment::placeholder,
.input-comment::placeholder {
  font-weight: 500;
  color: #141414;
}

.name-email-comment {
  width: 100%;
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 16px 16px;
}

.input-comment {
  border: 1px solid #858585;
  border-radius: 15px;
  padding: 16px 16px;
  width: 100%;
  height: 96px;
  background-color: transparent;
  outline: transparent;
  resize: none;
}

.name-email-comment:focus-within,
.input-comment:focus-within {
  outline: none;
  border: 1px solid #7a3145;
}

/* .name-email-comment:user-valid {
  outline: none;
  border: 1px solid #3cbc81;
}

.name-email-comment:user-invalid {
  outline: none;
  border: 1px solid #e74a3b;
} */

.btn-send {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: inherit;
  border-radius: 30px;
  padding: 16px 191px;
  width: 428px;
  height: 52px;
  background-color: #7a3145;
  cursor: pointer;
  transition: color 150ms ease-in-out 0ms,
    background-color 150ms ease-in-out 150ms;
}

.btn-send:hover {
  color: #7a3145;
  background-color: #d4bfc4;
}

.btn-send:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

.img-social-media {
  border-radius: 30px;
  padding: 52px 48px;
  background-color: #7a3145;
}

.fres-harvest-img {
  border-radius: 15px;
  margin-bottom: 80px;
}

.social-networks {
  font-weight: 700;
  color: #d4bfc4;
  margin-bottom: 16px;
}

.social-network-list {
  display: flex;
  justify-content: start;
}

.social-links {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
}

.instagram::after,
.facebook::after {
  content: "/";
  margin: 0 12px;
  color: #fbfbfb;
}

/* #endregion Fresh-Harvest-Section */

/* #region Footer-Section */
.footer-wrapper {
  padding: 52px 100px;
  background-color: #7a3145;
}

.logo-menu-address {
  display: flex;
  margin-bottom: 124px;
}

.footer-logo-menu {
  margin-right: 250px;
}

.footer-logo-name {
  fill: #fbfbfb;
  display: flex;
  align-items: baseline;
}

.footer-logo-icon {
  margin-right: 7px;
}

.footer-description {
  font-weight: 500;
  width: 265px;
  margin-top: 24px;
}

.footer-menu {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  margin-right: 121px;
  width: 228px;
  height: 144px;
}

.footer-menu li {
  white-space: nowrap;
  margin-bottom: 24px;
}

.tel-place {
  font-style: normal;
  font-weight: 700;
}

.tel {
  display: block;
  margin-bottom: 24px;
}

.policy {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #d4bfc4;
}

.policy-setting-list {
  display: flex;
}

.privacy-policy::after {
  content: "/";
  margin: 0 12px;
}
/* #endregion Footer-Section */
